<div id="splash" *ngIf="isVisible">
    <div id="eleccion">
        
    <div class="diff" (click)="startGame()">Facil
        <img src="https://archives.bulbagarden.net/media/upload/thumb/f/fb/0001Bulbasaur.png/375px-0001Bulbasaur.png" alt="" class="character">
    </div>
    <div class="diff">Medio
        <img src="https://archives.bulbagarden.net/media/upload/thumb/b/b6/0431Glameow.png/375px-0431Glameow.png" alt="" class="character">
    </div>
    <div class="diff">Dificil
        <img src="https://archives.bulbagarden.net/media/upload/thumb/6/6b/0744Rockruff.png/375px-0744Rockruff.png" alt="" class="character">
    </div>  

</div>

<button (click)="showWelcome()">Regresar</button>

</div>